<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/meta.ejs') %>
    <meta name="description" content="<%= desc %>">
    <meta name="keywords"
        content="<%= keyword %>, <%= keyword1 %>, <%= keyword2 %>, <%= keyword3 %>, <%= keyword4 %>, <%= keyword5 %>">
    <meta name="robot" content="index,follow">
    <title><%= title %></title>
    <%- include('./includes/link.ejs') %>
</head>

<body>
    <div id="renderBox">
        <%- include('includes/header.ejs') %>
        <div id="main" class="min-h-screen lg:mt-36 mt-20">
            <div class="hero grid grid-cols-10">
                <div class="col-span-1 hidden sm:block"></div>
                <div class="lg:col-span-5 sm:col-span-8 col-span-10 p-8 self-center">
                    <h1 class="text-3xl font-bold">Best Electrician Service in <%= location %></h1>
                    <h2 class="text-2xl mt-3">Let the professionals fix the wires!</h2>
                    <span class="text-lg mt-2">
                        When it comes to electricals, it is better not to DIY as it can lead electrical shocks and
                        sometimes catch
                        fire too.
                        Get help from professionals to fix your electrical problems.
                    </span>
                    <br>
                    <button onclick="openApp()"
                        class="text-lg font-medium uppercase mt-2 bg-primary py-2 px-4 text-white"
                        style="border-radius: 8px;">
                        BOOK NOW</button>
                </div>
                <div class="col-span-1 lg:hidden hidden sm:block"></div>
                <div class="col-span-1 lg:hidden hidden sm:block"></div>
                <div class="lg:col-span-3 sm:col-span-8 col-span-10 lg:p-4 p-2 flex justify-center">
                    <img src="https://app.nearmeservices.com/assets/assets/service_illu/Electrician-1.png"
                        class="h-96 w-96 lg:h-full lg:w-full" alt="<%= imageAltTag %>" title="<%= imageTitle %>">
                </div>
                <div class="col-span-1 hidden sm:block"></div>
            </div>
            <br>
            <br>
            <%- include('includes/howDoWeWork.ejs') %>
            <br>
            <br>
            <div class="grid grid-cols-10">
                <div class="col-span-1 hidden sm:block"></div>
                <div class="lg:col-span-3 sm:col-span-8 col-span-10 lg:p-4 p-2 flex justify-center">
                    <img src="https://app.nearmeservices.com/assets/assets/service_illu/Electrician-2.png"
                        class="h-96 w-96 lg:h-full lg:w-full" alt="<%= imageAltTag %>">
                </div>
                <div class="col-span-1 lg:hidden hidden sm:block"></div>
                <div class="col-span-1 lg:hidden hidden sm:block"></div>
                <div class="lg:col-span-5 sm:col-span-8 col-span-10 p-8 self-center">
                    <h1 class="text-3xl font-bold">Get the professional help to fix the wires!</h1>
                    <span class="text-lg mt-3">
                        Homeaxis Nearme Services can help you with all kind of wiring works, switchboard fixing, etc. We
                        have a team
                        of professional electricians who can provide you smart electrical solutions at affordable
                        prices. Take help
                        from electrician and make your home a safe and secure place to live
                        <br>
                        <br>
                        Also now you don't need to run to hardware store to buy the tools to solve the electrical
                        problems. Our
                        professional electricians will bring required tools and do the job. Give us a call we will take
                        care of all
                        the faulty outlets.
                    </span>
                    <h2 class="text-2xl mt-2">Give us a call today!</h2>
                </div>
                <div class="col-span-1 hidden sm:block"></div>
            </div>
            <br>
            <br>
            <%- include('includes/testimonials.ejs') %>
            <br>
            <br>
            <div class="flex justify-center">
                <div class="sm:w-10/12 md:w-4/5 w-11/12 lg:w-3/4">
                    <strong>FAQs </strong>
                    <br><br>
                    <div class="tab w-full overflow-hidden rounded-t-lg bg-surface shadow-md">
                        <input class="absolute opacity-0 " id="tab-multi-one" type="checkbox" name="tabs">
                        <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-one">Which appliances are
                            repaired by your company?</label>
                        <div
                            class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p class="p-5">AC, Geyser, RO water purifier, Fridge, Micro oven, Washing machine,
                                Television, etc.</p>
                        </div>
                    </div>
                    <div class="tab w-full overflow-hidden bg-surface shadow-md">
                        <input class="absolute opacity-0 " id="tab-multi-two" type="checkbox" name="tabs">
                        <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-two">Do you provide a
                            material and/or service warranty?</label>
                        <div
                            class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p class="p-5">We provide a service warranty only, we do not provide a warranty on spare
                                parts or material because it totally depends on the manufacturer or seller.</p>
                        </div>
                    </div>
                    <div class="tab w-full overflow-hidden  bg-surface shadow-md">
                        <input class="absolute opacity-0 " id="tab-multi-three" type="checkbox" name="tabs">
                        <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-three">What if there are
                            any damages to my appliance during repair?</label>
                        <div
                            class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p class="p-5">Our company will be liable to work on spare parts, not for the whole
                                appliance.</p>
                        </div>
                    </div>
                    <div class="tab w-full overflow-hidden  bg-surface shadow-md">
                        <input class="absolute opacity-0 " id="tab-multi-four" type="checkbox" name="tabs">
                        <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-four">Will your Service
                            Provider come with a ladder?</label>
                        <div
                            class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p class="p-5">No, our vendors cannot come with ladders, it will be easily available at the
                                local level.</p>
                        </div>
                    </div>
                    <div class="tab w-full overflow-hidden  bg-surface shadow-md">
                        <input class="absolute opacity-0 " id="tab-multi-five" type="checkbox" name="tabs">
                        <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-five">What is included in
                            AC General Servicing?</label>
                        <div
                            class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p class="p-5">It includes cleaning of indoor filters and cleaning of outdoor units with
                                water and blower. External cleaning of indoor and outdoor units is performed.
                            </p>
                        </div>
                    </div>
                    <div class="tab w-full overflow-hidden  bg-surface shadow-md">
                        <input class="absolute opacity-0 " id="tab-multi-six" type="checkbox" name="tabs">
                        <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-six">What is dry servicing
                            & servicing with chemicals?</label>
                        <div
                            class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p class="p-5">Dry servicing includes cleaning of the indoor unit with a blower and cloth.
                                While chemical servicing includes washing and cleaning of indoor units with chemicals
                                and blowers.</p>
                        </div>
                    </div>
                    <div class="tab w-full overflow-hidden  bg-surface shadow-md">
                        <input class="absolute opacity-0 " id="tab-multi-seven" type="checkbox" name="tabs">
                        <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-seven">Do you provide a
                            material warranty?</label>
                        <div
                            class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p class="p-5">We do not provide a warranty on material because it totally depends upon the
                                manufacturer and seller.</p>
                        </div>
                    </div>
                    <div class="tab w-full overflow-hidden rounded-b-lg bg-surface shadow-md">
                        <input class="absolute opacity-0 " id="tab-multi-eight" type="checkbox" name="tabs">
                        <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-eight">Do your charges
                            include material costs?</label>
                        <div
                            class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p class="p-5">Our charges include only labor costs. Charges of material are not included in
                                it.</p>
                        </div>
                    </div>
                    <div class="tab w-full overflow-hidden rounded-b-lg bg-surface shadow-md">
                        <input class="absolute opacity-0 " id="tab-multi-nine" type="checkbox" name="tabs">
                        <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-nine">In case the issue
                            reoccurs, can I contact the vendor directly?</label>
                        <div
                            class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p class="p-5">Not at all, we provide service guarantees on your issue. We will provide
                                vendors for unsolved issues.</p>
                        </div>
                    </div>
                    <div class="tab w-full overflow-hidden rounded-b-lg bg-surface shadow-md">
                        <input class="absolute opacity-0 " id="tab-multi-ten" type="checkbox" name="tabs">
                        <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-ten">What if I am not
                            happy with the service?</label>
                        <div
                            class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p class="p-5">If you are not happy with our service please suggest and give feedback to our
                                support team.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <%- include('includes/vendor.ejs') %>
            <br>
            <br>
            <br>
        </div>
        <%- include('includes/footer.ejs') %>
    </div>
    <script>
        const openApp = () => {
            document.getElementById('renderBox').innerHTML =
                '<iframe src="<%= appLink %>" style="height: 100vh; width: 100vw;" frameborder="0"></iframe>';
        }
    </script>
    <script defer src="/js/carousel.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4LB7VGYJ2B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-4LB7VGYJ2B');
    </script>
</body>

</html>