<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Book experienced professionals near you to serve quality home services in Pune - Pest control, Home cleaning, Packers and movers, Repair and maintenance, Plumber, Electrician and much more">
    <meta name="keywords"
        content="service near me, plumber near me, pest control near me, painter near me, electrician near me, home cleaning near me, ac repair near me, carpenter near me">
    <title>Homeaxis Nearme Services</title>
    <link rel="preload" href="/css/theme.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="renderBox">
        <%- include('includes/header.ejs') %>
        <div id="main">
            <div class="p-16 bg-primary pb-32 mb-96 relative text-white">
                <h1 class="text-4xl font-medium"> Hi! How can we help you today?</h1>
                <strong class="mt-8 block text-2xl font-medium">
                    Book experienced professionals near you to serve quality home services in Pune - Pest control, Home
                    cleaning, Packers and Movers and Much more...
                </strong>
                <div class="shadow-xl rounded-2xl absolute lg:top-56 md:top-72 top-80 grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 left-1/2 bg-surface lg:w-9/12 md:w-4/5 w-11/12 text-onSurface overflow-hidden"
                    style="transform: translateX(-50%);">
                    <div onclick="openApp('https://app.nearmeservices.com/#/home-cleaning-service')"
                        class="flex justify-center items-center text-center p-16 cursor-pointer"
                        style="border: 1px solid rgba(128, 128, 128, 0.335)">
                        <div class="block">
                            <img src="https://nearmeservices.com/assets/assets/home_cleaning.webp" alt="Home Cleaning"
                                class="h-20 w-20 m-auto">
                            <br>
                            Home Cleaning
                        </div>
                    </div>
                    <div onclick="openApp('https://app.nearmeservices.com/#/pest-control-service')"
                        class="flex justify-center items-center text-center p-16 cursor-pointer"
                        style="border: 1px solid rgba(128, 128, 128, 0.335)">
                        <div class="block">
                            <img src="https://nearmeservices.com/assets/assets/pest_control.webp" alt="Pest Control"
                                class="h-20 w-20 m-auto">
                            <br>
                            Pest Control
                        </div>
                    </div>
                    <div onclick="openApp('https://app.nearmeservices.com/#/packers-and-movers-service')"
                        class="flex justify-center items-center text-center p-16 cursor-pointer"
                        style="border: 1px solid rgba(128, 128, 128, 0.335)">
                        <div class="block">
                            <img src="https://nearmeservices.com/assets/assets/packers_movers.webp"
                                alt="Packers and Movers" class="h-20 w-20 m-auto">
                            <br>
                            Packers & Movers
                        </div>
                    </div>
                    <div onclick="/*openApp('')*/"
                        class="flex justify-center items-center text-center p-16 cursor-pointer"
                        style="border: 1px solid rgba(128, 128, 128, 0.335)">
                        <div class="block">
                            <img src="https://nearmeservices.com/assets/assets/repairs_maintenance.webp"
                                alt="Repair and Maintenance" class="h-20 w-20 m-auto">
                            <br>
                            Repair & Maintenance
                        </div>
                    </div>
                    <div onclick="openApp('https://app.nearmeservices.com/#/plumber-service')"
                        class="flex justify-center items-center text-center p-16 cursor-pointer"
                        style="border: 1px solid rgba(128, 128, 128, 0.335)">
                        <div class="block">
                            <img src="https://nearmeservices.com/assets/assets/Plumber.webp" alt="Plumber"
                                class="h-20 w-20 m-auto">
                            <br>
                            Plumber
                        </div>
                    </div>
                    <div onclick="openApp('https://app.nearmeservices.com/#/electrician-service')"
                        class="flex justify-center items-center text-center p-16 cursor-pointer"
                        style="border: 1px solid rgba(128, 128, 128, 0.335)">
                        <div class="block">
                            <img src="https://nearmeservices.com/assets/assets/Electrician.webp" alt="Electrician"
                                class="h-20 w-20 m-auto">
                            <br>
                            Electrician
                        </div>
                    </div>
                    <div onclick="openApp('https://app.nearmeservices.com/#/carpenter-service')"
                        class="flex justify-center items-center text-center p-16 cursor-pointer"
                        style="border: 1px solid rgba(128, 128, 128, 0.335)">
                        <div class="block">
                            <img src="https://nearmeservices.com/assets/assets/Carpenter.webp" alt="Carpenter"
                                class="h-20 w-20 m-auto">
                            <br>
                            Carpenter
                        </div>
                    </div>
                    <div onclick="/*openApp('')*/"
                        class="flex justify-center items-center text-center p-16 cursor-pointer"
                        style="border: 1px solid rgba(128, 128, 128, 0.335)">
                        <div class="block">
                            <img src="https://nearmeservices.com/assets/assets/Sanitization.webp" alt="Disinfection"
                                class="h-20 w-20 m-auto">
                            <br>
                            Disinfection
                        </div>
                    </div>
                    <div onclick="openApp('https://app.nearmeservices.com/#/painter-service')"
                        class="flex justify-center items-center text-center p-16 cursor-pointer"
                        style="border: 1px solid rgba(128, 128, 128, 0.335)">
                        <div class="block">
                            <img src="https://nearmeservices.com/assets/assets/painter_icon.webp" alt="Painter"
                                class="h-20 w-20 m-auto">
                            <br>
                            Painter
                        </div>
                    </div>
                    <div onclick="openApp('https://app.nearmeservices.com/#/ac-repair-service')"
                        class="flex justify-center items-center text-center p-16 cursor-pointer"
                        style="border: 1px solid rgba(128, 128, 128, 0.335)">
                        <div class="block">
                            <img src="https://nearmeservices.com/assets/assets/ac_repair_icon.webp" alt="AC Repair"
                                class="h-20 w-20 m-auto">
                            <br>
                            AC Repair
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-96 lg:hidden">
                <br><br>
                <br><br>
            </div>
            <div class="h-80 md:hidden"></div>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br>
            <br>
            <%- include('includes/howDoWeWork.ejs') %>
            <br>
            <br>
            <div class="lg:px-32 md:px-10 px-4 py-20 bg-primary flex justify-center text-white">
                <div class="grid lg:grid-cols-7 md:grid-cols-6 grid-cols-5 gap-8">
                    <h1 class="text-4xl font-medium md:col-span-3 col-span-5 flex items-center"
                        style="letter-spacing: 1px;">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 inline-block" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                        </svg>
                        Nearme Guarantee</h1>
                    <div class="col-span-1 hidden lg:block"></div>
                    <div class=" md:col-span-3 col-span-5">
                        <ul>
                            <li class="text-lg my-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                All Professionals are background verified.
                            </li>
                            <li class="text-lg my-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                Fair pricing policy, no hidden charges.
                            </li>
                            <li class="text-lg my-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                30 days damage and repair guarantee.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="grid grid-cols-10">
                <div class="col-span-1 hidden sm:block"></div>
                <div class="lg:col-span-3 sm:col-span-8 col-span-10 lg:p-4 p-2 flex justify-center">
                    <img src="https://nearmeservices.com/assets/assets/nearmeappscreens.png"
                        class="h-96 w-96 lg:h-full lg:w-full" alt="<%= imageAltTag %>">
                </div>
                <div class="col-span-1 lg:hidden hidden sm:block"></div>
                <div class="col-span-1 lg:hidden hidden sm:block"></div>
                <div class="lg:col-span-5 sm:col-span-8 col-span-10 p-8 self-center">
                    <h1 class="text-3xl font-bold">Download Homeaxis Nearme Services App</h1>
                    <span class="text-lg mt-3">
                        Book service on the go and get your home services done without any hustle
                    </span>
                    <br>
                    <br>
                    <a href="https://play.google.com/store/apps/details?id=com.dcdevelopers.nearme" class="mt-2">
                        <img src="https://nearmeservices.com/assets/assets/GooglePlayButton.png"
                            alt="Download near me services app" class="h-14 w-auto">
                    </a>
                </div>
                <div class="col-span-1 hidden sm:block"></div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <%- include('includes/vendor.ejs') %>
            <br>
            <br>
            <br>
        </div>
        <%- include('includes/footer.ejs') %>
    </div>
    <script>
        const openApp = (url) => {
            document.getElementById('renderBox').innerHTML =
                `<iframe src="${url}" style="height: 100vh; width: 100vw;" frameborder="0"></iframe>`;
        }
    </script>
</body>

</html>